
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div>
		<ul style="display:flex">
			{% set route = app.request.get('_route') %}
    		<li class="nav-item{% if route == 'competition_create' %} active{% endif %}">
        		<a class="nav-link" href="{{ path('competition_create') }}">Create a Competition</a>
      		</li>

      		{% if not is_granted('ROLE_AUTHENTICATED_FULLY') %}
      		<li class="nav-item{% if route == 'fos_user_registration_register' %} active{% endif %}">
        		<a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
      		</li>
      		<li class="nav-item{% if route == 'fos_user_security_login' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("fos_user_security_login") }}">Login</a>
      		</li>
      		{% endif %}
      		
      		{% if is_granted('ROLE_AUTHENTICATED_FULLY') %}
      		<li class="nav-item{% if route == 'logout' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("logout") }}">Logout</a>
      		</li>
      		{% endif %}
      		
  			<li class="nav-item{% if route == 'about' %} active{% endif %}">
        		<a class="nav-link" href="{{ path("about") }}">About</a>
      		</li>
    	</ul>
  	</div>
</nav>

